<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main-layout}">
<head>
<meta charset="ISO-8859-1">
<title>Shaad-Tech | About Us</title>
</head>
<body>
	<div layout:fragment="content" class="container my-4">
		<div class="jumbotron">
			<h3 class="display-5">About Us</h3>
			<hr class="my-4">
			<p class="lead">This is a simple hero unit, a simple
				jumbotron-style component for calling extra attention to featured
				content or information.</p>
		</div>
	</div>
</body>
</html>