<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main-layout}">
<head>
<meta charset="ISO-8859-1">
<title>Shaad-Tech | Register Form</title>
</head>
<body>
	<div layout:fragment="content" class="container my-4">
		<!-- If user is already register  -->
		<div class="alert alert-info" th:if="${exist}">
			<p class="text text-center">User with this EMAIL already Exist.!</p>
		</div>
		<!-- Registration Form -->
		<form th:action="@{/register}" th:object="${user}" method="post">
			<div class="form-group">
				<label for="name" class="form-control-lebel">Name</label>
				<input id="name" type="text" class="form-control" th:field="*{name}" />
				<div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>	
			</div>
			<div class="form-group">
				<label for="email" class="form-control-lebel">Email</label>
				<input id="email" type="email" class="form-control" th:field="*{email}" />
				<div class="text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>
			<div class="form-group">
				<label for="password" class="form-control-lebel">Password</label>
				<input id="password" type="password" class="form-control" th:field="*{password}" />
				<div class="text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			</div>
			<input type="submit" value="Register" class="btn btn-primary" />
		</form>
	</div>
</body>
</html>